body {
	background-color: #000;
}
#map, #points {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}
#points {
	z-index: 200;
}

.i_exist_actions {
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 100px;
	color: #FFF;
	text-align: center;
	z-index: 500;
}

.i_exist_btn {
	margin: 0px auto;
	width: 80px;
	height: 80px; 
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url("../img/button.png");
}


.i_exist_btn:hover{
	background-position: 0px -90px;
}

.i_exist_btn:active, .i_exist_btn.pressed {
	background-position: 0px -180px;
}
